*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

.vs

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
/objectiveevolutionpseudoarchive/
/mariolevelsnsga2/
/loderunnerlevelsequences/
/loderunnermapelites/
/loderunnerkldivergence/
/megamandistinctverticalandconnectivity/
/loderunnerlevels/
/loderunnerlevelscmaes/
/loderunnerlevelsMAPElites/
ZeldaDungeon01_5000_10*
ZeldaDungeon02_5000_10*
ZeldaAllDungeons*
/megamanlevels/
/megamanmultigan/
/megamansinglegan/
/mariolevelsdecoratensleniency/
/mariolevelsdecorateleniency/
/mariolevelsdistinctnsdecorate/
/mariolevelsnoveltydecorleniency/
/zeldadungeonswallwaterrooms/
/zeldadungeonsdistinctbtrooms/
/zeldadungeons/
/mariolevels/
/mariocppntogan/
/zeldacppntogan/
/zeldacppnthendirect/
/interactivezeldagan/
/interactivemariogan/
/animationbreeder/
/targetimage/
/picbreeder/
/build/
/dist/
/nbproject/
/bin
/cartpole
/torus
/onelifeconflict/
/tetris/
/fof/
/pp/
/zentangles/
/mario/
/mariolevel/
/mariolevelskldivergence/
/marioTEST/
/mariolevelsTEST/
/megamanTEST/
/fbr/
/checkers/
/match/
/multiplelivesconflict/
/imprisonconflict/
/imprisonsplit/
/isolatedconflict/
/megamandistinctverticalandconnectivitynoauxcopyswap/
/toruspred/
/torusprey/
/mountaincar/
/puddle/
/sunset1/
/vizdoombasic/
/vizdoomdefendcenter/
/onelifesplit/
/extendedPicbreeder/
/sztetris/
/othello/
/gvgai/
/innovation/
/innovationshapes/
/microRTS/
/ut2004/
/mariogan/
/zentangle/
/mariocppn/
/loderunnermapelites10batches/
/loderunnermapelitestenpercentbatches/
/loderunnermapelitestwentypercentbatches/
/coghosts/
/poghosts/
/popacman/
/zeldagan/
/functionoptimization/
/cmamefunctionoptimization/
/mapelitesfunctionoptimization/
/mapelitesfunctionoptimizationseveral/
/src/main/python/MarioGAN/Zelda-30-5000
/src/main/python/Pyribs/sphere_output*
/src/main/python/Pyribs/rastrigin_output*
/src/main/python/Pyribs/dask-worker-space
/loderunner20gancomparebins/
/mariocomparebins/
/zeldalevelpath/
/zeldacomparebins/
/megamancopyswap/
/megamanmultigancomparebins/
/latentvariablepartition/
/extendedmariolevelsdecoratensleniency/
/extendedmariolevelsdistinctnsdecorate/
# Some of UT^2's log files end up with this naming convention
*-null
*.zds
vizdoom/bin/vizdoom-He_Deceives.ini
*.bmp
*.txt
!requirements.txt
vizdoom.ini
*.pdf
*.plot
*.pptx
*.jpg
*.ppt
.settings/org.eclipse.jdt.core.prefs
*.png
*.gif
*.wav
*.dat
_vizdoom.ini

.svn
*.docx
*.xml.log

*.bash

*.Bash
/target/
log4j.log
doom-end.model
rl-glue-cartpole
*.model
src/main/python/NeuralStyleTransfer/imagenet-vgg-verydeep-19.mat
*.pyc
*UT^2-null
dependency-reduced-pom.xml
*.mkv

**/netG*.pth

*.swp

data/VGLC/Zelda/rules/1/

data/VGLC/Zelda/GraphDOTs/

data/VGLC/Zelda/Untitled1\.psd

*.dot

data/rouge/tmp/dungeon\.json
*.csv

batch/Experiments-2019-ZeldaGAN/Subject-*
batch/Experiments-2020-CEC-ZeldaGAN/Subject-*

.idea/

*.iml
src/main/python/GAN/MegaManGAN/Thumbs.db
/megamancppntogan/
/MegaManGAN/
src/main/python/GAN/CGANTwoClassTests/FINAL.pth
src/main/python/AutoEncoder/data/MNIST
failedskull*
imagematch/
src/main/python/AutoEncoder/sim_autoencoder.pth
src/main/python/ColorAutoEncoder/data/cifar-10-batches-py/
src/main/python/ColorAutoEncoder/data/cifar-10-python.tar.gz
LodeRunnerGAN-MAPElitesGroundTreasureEnemiesCAFit-On100Levels.jar
LodeRunnerGAN-MAPElitesGrou1ndTreasureEnemiesCAFit-On100Levels-HashMap.jar
ExternalRealValuedGenotypeTask.jar

/minecraft/
/minecraftaccumulate/
/bigminecraft/
/fastminecraft/

# Generated by Minecraft server
data/EvoCraft-py/*json
data/EvoCraft-py/config/
data/EvoCraft-py/logs/
data/EvoCraft-py/libraries/
data/EvoCraft-py/world/
data/EvoCraft-py/server.properties
data/EvoCraft-py/minecraft_server.1.12.2.jar
data/EvoCraft-py/server.properties


.metadata

dagstuhl/
dagstuhlmario/
dagstuhlzelda/
minecraftshapetaskaccumulate/
mariopdsl/
waterlavaminecraft/